body,h1,h2,p{
	margin:0;
	padding:0;
}
body{
	width:100%;
	height:100%;
}
.box0{
	padding-left:20px;
	width:100%;
	line-height:60px;
	background-color:#9c9c9c;  
}

h1{
	font-size:110%;
	color:#fff;
}
h2{
	font-size:110%;
}
.box1,.box2,.box3,.box4,.box5{
	float:left;
	height:120px;
	width:100%;
	border-bottom:1px solid #dbd9df;
}
.jbxx,.lxfs,.nlms,.jyjl,.xmjl{
	float:left;
	width:96px;
	height:120px;
	padding-left:20px;
	line-height:120px;
	background-color:#dbd9df;
	border-bottom: 1px solid #fff;
}
.xx,.lxfsxx,.nlmsxx,.jyjlxx,.xmjlxx{
	padding-top:10px;
	padding-left:136px;
}
.nlmsxx1,.nlmsxx2,.jyjlxx1,.jyjlxx2,.xmjlxx1,.xmjlxx2{
	display:flex;
}
.box1{
	position:absolute;
	top:60px;
}
.box2{
	position:absolute;
	top:181px;
}
.box3{
	position:absolute;
	top:302px;
}
.box4{
	position:absolute;
	top:423px;
}
.box5{
	position:absolute;
	top:544px;
}
#t1 tr td:nth-child(1){
	width:100px;
}
#t1 tr td:nth-child(2){
	width:100px;
}
#t2 tr td:nth-child(1){
	width:180px;
}
#t2 tr td:nth-child(2){
	width:240px;
}